<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/index.css" rel="stylesheet" />
		<title></title>
	</head>

	<body>
		<div id="app">
			<!--<h1>{{filterQuery}}</h1>-->
			<form>
				<label for="fiterField">Field:
			          <select id="filterField" v-model="filterField">
			            <option value=''>Disable filters</option>
			            <option value="isActive">Active user</option>
			            <option value="name">Name</option>
			            <option value="email">Email</option>
			            <option value="balance">Balance</option>
			            <option value="registered">Date registered</option>
			          </select>
        			</label>
				<label for="filterQuery" v-show="this.filterField && !isActiveFilterSelected()">Query:
          				<input type="text" id="filterQuery" v-model="filterQuery">
        			</label>
				<span v-show="isActiveFilterSelected()">Active:
	        			<label for="userStateActive">Yes:
	        				<input type="radio" v-bind:value="true" id="userStateActive" v-model="filterUserState">
	          		</label>
	          		<label for="userStateInactive"> No:
	            			<input type="radio" v-bind:value="false" id="userStateInactive" v-model="filterUserState">
	          		</label>
        			</span>
			</form>

			<table>
				<tr v-for="person in people" v-show="filterRow(person)">
					<td>{{person.name}}</td>
					<td>
						<a v-bind:href="'mailto:'+person.name">{{person.name}}</a>
					</td>
					<td>{{formatBalance(person.balance)}}</td>
					<td>{{formatData(person.registered)}}</td>
					<td v-bind:class="activeClass(person)">{{activeStatus(person)}}</td>
				</tr>
			</table>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
		<script src="script.js"></script>
	</body>

</html>